<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>709185721070-dt7msndidskjjv3nvvrmh9tt67u1f3hd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.709185721070-dt7msndidskjjv3nvvrmh9tt67u1f3hd</string>
	<key>API_KEY</key>
	<string>AIzaSyCoLGEY2tIY8h8Xqxj8Hrp5mqqJimpVkfw</string>
	<key>GCM_SENDER_ID</key>
	<string>709185721070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.busfinder.uat</string>
	<key>PROJECT_ID</key>
	<string>bus-finder-a0c24</string>
	<key>STORAGE_BUCKET</key>
	<string>bus-finder-a0c24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709185721070:ios:0e30e687a9400c7d5e59ff</string>
</dict>
</plist>